using Modulus.Mediator.Abstractions;

namespace {{RootNamespace}}.BuildingBlocks.Domain.Entities;

public interface IHasDomainEvents
{
    IReadOnlyCollection<IDomainEvent> DomainEvents { get; }

    void ClearDomainEvents();
}
